<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.3/dist/vuelidate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.3/dist/validators.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.15/howler.core.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Crazy Eights Timer</title>
  </head>
  <body>
    <div id="app" class="full-size">
      <div v-if="!started" class="setting-page main-page-color">
        <h2>
          <span>Crazy {{maxSprintCount}}s Timer</span>
          <sound-switch :sound-on="soundOn" @switch-sound-setting="switchSoundSetting"></sound-switch>
        </h2>
        <div class="flex-column">
          <div class="flex-row">
            <div class="input-box">
              <div class="error-container">
                <div class="error-baloon" v-if="!$v.ideationSeconds.required || !$v.ideationSeconds.minValue || !$v.ideationSeconds.maxValue">
                  <p v-if="!$v.ideationSeconds.required">This field is empty!</p>
                  <p v-if="!$v.ideationSeconds.minValue">Is that enough!?</p>
                  <p v-if="!$v.ideationSeconds.maxValue">Don't work too hard</p>
                </div>
              </div>
              <div :class='{shake: !$v.ideationSeconds.required || !$v.ideationSeconds.minValue || !$v.ideationSeconds.maxValue}'>
                <p class="underline">
                  <input v-model.number="ideationSeconds" type="number"/>sec
                </p>
                <p>
                  <small>for </small><b>ideation</b>
                </p>
              </div>
            </div>
            <div class="input-box">
              <div class="error-container">
                <div class="error-baloon" v-if="!$v.breakSeconds.required || !$v.breakSeconds.minValue || !$v.breakSeconds.maxValue">
                  <p v-if="!$v.breakSeconds.required">This field is empty!</p>
                  <p v-if="!$v.breakSeconds.minValue">You should take a break</p>
                  <p v-if="!$v.breakSeconds.maxValue">That's a little too long for a break</p>
                </div>
              </div>
              <div :class='{shake: !$v.breakSeconds.required || !$v.breakSeconds.minValue || !$v.breakSeconds.maxValue}'>
                <p class="underline">
                  <input v-model.number="breakSeconds" type="number" />sec
                </p>
                <p>
                  <small>for a </small><b>break</b>
                </p>
              </div>
            </div>  
          </div>
          <div class="flex-row">
            <div class="input-box">
              <div class="error-container">
                <div class="error-baloon" v-if="!$v.maxSprintCount.required || !$v.maxSprintCount.minValue || !$v.maxSprintCount.maxValue">
                  <p v-if="!$v.maxSprintCount.required">This field is empty!</p>
                  <p v-if="!$v.maxSprintCount.minValue">That's not crazy enough</p>
                  <p v-if="!$v.maxSprintCount.maxValue">That's tooooooo crazy! Ideal craziness is 2-16</p>
                </div>
              </div>
              <div :class='{shake: !$v.maxSprintCount.required || !$v.maxSprintCount.minValue || !$v.maxSprintCount.maxValue}'>
                <p class="underline">
                  <input v-model.number="maxSprintCount" type="number"/>
                </p>
                <p>
                  <b>times</b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button @click="start" class="start-button" :disabled="$v.$invalid"><p>Start</p></button>
        </div>
      </div>
      <div v-if="started" :class="['timer-page', isIdeationTime ? 'ideation-color' : 'break-color']">
        <div class="timer-page-left flex-column">
          <div class="count-status-icons align-self-flex-start">
            <i class="far fa-lightbulb small-icon-font" v-for="n in (sprintCount - 1)"></i>
            <i class="far fa-lightbulb small-icon-font" :class="{flash: isIdeationTime}"></i>
            <i class="fas fa-asterisk tiny-icon-font" v-for="n in remainingSprintCount"></i>
          </div>
          <div class="flex-grow-bigger flex-column">
            <h2 class="remove-on-short-window">
              <span v-if="isIdeationTime">Make the {{sprintCountOrdinal}} idea!</span>
              <span v-if="!isIdeationTime">Take a breath...</span>
              <sound-switch :sound-on="soundOn" @switch-sound-setting="switchSoundSetting"></sound-switch>
            </h2>
            <h3 v-if="!isIdeationTime" class="remove-on-short-window">{{remainingSprintCount > 1 ? remainingSprintCount + " ideas": remainingSprintCount + " idea"}} to go!</h3>
            <div class="countdown-timer">
              {{ remainingSeconds }}
            </div>
            <div>
              <button @click="stop" :class="isIdeationTime ? 'exit-button-ideation' : 'exit-button-break'"><p>Exit</p></button>
            </div>
          </div>
        </div>
        <div v-if="!isIdeationTime" class="timer-page-right">
          <img :src="pictureUrls[nextPictureIndex]"/>
        </div>
      </div>
    </div>
    <script>
      Vue.use(window.vuelidate.default);
      const soundSwitch = {
        props: {
          'sound-on': {
            type: Boolean,
            required: true,
          },
        },
        template: `
          <i class="material-icons sound-switch" @click="$emit('switch-sound-setting')">
            {{soundOn? 'volume_up': 'volume_off'}}
          </i>
        `,
      };
      const app = new Vue({
        el: '#app',
        data: {
          maxSprintCount: 8,
          ideationSeconds: 30,
          breakSeconds: 10,
          started: false,
          isIdeationTime: true,
          remainingSeconds: -1,
          sprintCount: 1,
          timer: null,
          countdownSounds: null,
          soundOn: false,
          pictureUrls: [],
          nextPictureIndex: 0,
        },
        validations: {
          maxSprintCount: {
            required: validators.required,
            minValue: validators.minValue(2),
            maxValue: validators.maxValue(16)
          },
          ideationSeconds: {
            required: validators.required,
            minValue: validators.minValue(1),
            maxValue: validators.maxValue(3600)
          },
          breakSeconds: {
            required: validators.required,
            minValue: validators.minValue(1),
            maxValue: validators.maxValue(3600)
          },
        },
        computed: {
          sprintCountOrdinal: function() {
            return this.getOrdinal(this.sprintCount);
          },
          remainingSprintCount: function() {
            return this.maxSprintCount - this.sprintCount;
          }
        },
        created: async function() {
          this.countdownSounds = {
            tick: new Howl({
              src: ['./countdown1.mp3']
            }),
            finish: new Howl({
              src: ['./countdown2.mp3']
            })
          };
          await this.getPictures();
        },
        methods: {
          start: function() {
            this.sprintCount = 1;
            this.isIdeationTime = true;
            this.remainingSeconds = this.ideationSeconds;
            this.started = true;
            this.timer = setInterval(this.countdown, 1000)
          },
          stop: function() {
            this.started = false;
            clearInterval(this.timer);
            this.timer = null;
          },
          countdown: function() {
            if (this.remainingSeconds === 0) {
              this.switchTimers();
              return;
            }
            this.remainingSeconds--;
            if (!this.soundOn) {
              return;
            }
            if (this.remainingSeconds <= 3 && this.remainingSeconds > 0) {
              this.countdownSounds.tick.play();
            }
            if (this.remainingSeconds === 0) {
              this.countdownSounds.finish.play();
            }
          },
          switchTimers: function() {
            if (this.isIdeationTime) {
              if(this.sprintCount === this.maxSprintCount) {
                this.stop();
                return;
              }
            } else {
              this.sprintCount++;
              this.nextPictureIndex++; // TODO: check max length
            }
            this.isIdeationTime = !this.isIdeationTime;
            this.remainingSeconds = this.isIdeationTime? this.ideationSeconds: this.breakSeconds;
          },
          switchSoundSetting: function() {
            this.soundOn = !this.soundOn;
          },
          getOrdinal: function(n) {
            const s= ["th","st","nd","rd"];
            const v = n % 100;
            return n+(s[(v-20)%10]||s[v]||s[0]);
          },
          getPictures: async function() {
            const urls = await fetch('https://www.reddit.com/r/aww/hot/.json?limit=50')
            .then(res => res.json())
            .then(json => {
              return json.data.children.filter(child => {
                return child.data.url != null && child.data.url.endsWith('.jpg');
              })
              .map(child => child.data.url);
            });
            this.pictureUrls = shuffle(urls);
          }
        },
        components: {
          'sound-switch': soundSwitch,
        },
      });
      const shuffle = function(array) {
        for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
      }
    </script>
  </body>
</html>
